{% extends 'store/base.html' %}
{% block content %}
<h1>Medicines</h1>
<p><a class="btn" href="{% url 'admin_medicine_create' %}">+ Add Medicine</a></p>
<table class="table">
    <tr><th>ID</th><th>Name</th><th>Brand</th><th>Stock</th><th>RX</th><th>Price</th><th></th></tr>
    {% for m in medicines %}
    <tr>
        <td>{{ m.id }}</td>
        <td>{{ m.name }}</td>
        <td>{{ m.brand }}</td>
        <td>{{ m.stock }}</td>
        <td>{{ m.rx_required }}</td>
        <td>₹ {{ m.price }}</td>
        <td>
            <a href="{% url 'admin_medicine_update' m.id %}">Edit</a> |
            <a href="{% url 'admin_medicine_delete' m.id %}">Delete</a>
        </td>
    </tr>
    {% empty %}
        <tr><td colspan="7">No medicines yet.</td></tr>
    {% endfor %}
</table>
{% endblock %}